<% if logged_in? %>
  <div class="row">
    <div class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="post_form">
        <%= render 'shared/post_form' %>
      </section>
    </div>
    <div class="col-md-8">
      <h3>Post Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
  <%= render 'pickup_post' %>
<% else %>

<%= render 'swiper' %>
<%= render 'pickup_post' %>

<% end %>