<% if logged_in? %>
<%= render 'swiper' %>
  <div class="row">
    <div class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="post_form">
        <%= render 'shared/post_form' %>
      </section>
    </div>
  </div>
<div class="col-md-8 popular">
  <h3 class="header__orange">人気</h3>
  <%= render 'shared/feed' %>
</div>
<% else %>

<%= render 'swiper' %>

<div class="col-md-8 popular">
  <h3 class="header__orange">人気</h3>
  <%= render 'shared/feed' %>
</div>
<% end %>