<div class="row">
  <div class="col-md-10">
    <div class="profile__wrapper">
      <div class="profile__img">
        <img src="<%= @user.image.url %>"></img>
      </div>
      <div class="profile__detail__wrapper">
        <div class="profile__detail__up">
          <div class="profile__name">
            <h1><%= @user.name %></h1>
          </div>
          <div class="profile__follow">
            <% @user ||= current_user %>
            <a href="<%= following_user_path(@user) %>">
              <p class="profile__following">フォロー<%= @user.following.count %>人</p>
            </a>
            <a href="<%= followers_user_path(@user) %>">
              <p class="profile__follower">フォロワー<%= @user.followers.count %>人</p>
            </a>
            <div>
              <%= render 'follow_form' if logged_in? %>
            </div>
          </div>
        </div>
        <div class="profile__detail__down">
          <p>かめの甲羅です。 仕事は、アフィリエイトとワードプレス講師です。 Youtubeもやっています。 Youtubeチャンネルは「かめの甲羅」です。 よろしくお願いします。</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-8">
  <% if @user.posts.any? %>
    <h3>Posts (<%= @user.posts.count %>)</h3>
    <ol class="posts">
      <%= render @posts %>
    </ol>
  <% end %>
</div>